<!doctype html>
<title>{% block title %}{% endblock %} - eq advisor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Eq Advisor</h1>
    <ul>
        {% if g.api_key %}
            <li><span>{{ g.api_key['status'] }}</span>
            <li><a href="{{ url_for('api_key.change') }}">Chage key</a>
        {% else %}
            <li><a href="{{ url_for('api_key.change') }}">Set key</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div> class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

