<!doctype html>
<title>{% block title %}{% endblock %} - eq advisor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Eq Advisor (API key = {{ g.api_key }})</h1>
    <ul>
        {% if g.api_key %}
            <li><a href="{{ url_for('key.set_api_key') }}">Chage key ({{ g.api_key }})</a>
            <li><a href="{{ url_for('chars.char_list') }}">Character list</a>
        {% else %}
            <li><a href="{{ url_for('key.set_api_key') }}">Set key</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

